{% extends 'base.html' %}

{% block content %}

<div class="column">
    {% for record in records %}
        <div class="box">
            {{record.body}}
            <span class="is-small has-text-grey-light">
                ({{ record.created_at }} от {{ record.user.username }}
            </span>
        </div>
    {% endfor %} 
</div>
  
<div class="column is-one-third">

    <div class="block">
        <a href="{% url 'nilisoma:profile_list' %} ">
            <button class="button is-dark is-outlined is-fullwidth">
                Все профили
            </button>
        </a>
    </div>

    <div class="block">
        <a href="{% url 'nilisoma:profile' request.user.profile.id %} ">
            <button class="button is-success is-light is-outlined is-fullwidth">
                Мой профиль
            </button>
        </a>
    </div>

    <div class="block">
        <div class="block">
            <h2 class="title is-2">Добавить запись</p>
        </div>
        <div class="block">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button is-success is-fullwidth is-medium mt-5"
                        type="submit">Пост
                </button>
            </form>
        </div>
    </div>

</div>

<!-- {% for followed in user.profile.follows.all %}
        {% for record in followed.user.records.all %}
            <div class="box">
                {{record.body}}
                <span class="is-small has-text-grey-light">
                    ({{ record.created_at }} by {{ record.user.username }}
                </span>
            </div>
        {% endfor %}
    {% endfor %} -->

{% endblock content %}