{% extends 'base.html' %}

{% block content %}
<div style="max-width: 400px; width: 100%; padding: 20px; border: 1px solid #ccc; text-align: center; margin-left:450px">
  <form method="post" action="{% url 'users:register' %}" style="margin: 0 auto;">
    {% csrf_token %}
    <table style="margin: 0 auto;">
      {% for field in form %}
      <tr>
        <td style="text-align: center;">
          {% if field.name == 'username' %}
            Логин:&nbsp;&nbsp;
          {% elif field.name == 'password1' %}
            Пароль:&nbsp;&nbsp;
          {% else %}
            Повторите пароль:&nbsp;&nbsp;
          {% endif %}
          
        </td>
        <td style="margin-left: 10px;">
          {{ field }}
        </td>
      </tr>
      {% endfor %}
    </table>
    <button type="submit" style="margin-top: 10px;">Зарегистрироваться</button>
   
  </form>
</div>
{% endblock %}